<h1>Show Bad Data Status</h1>

<table>
  <tr>
    <th>Search Key:</th>
    <th>Value:</th>
    <th></th>
  </tr>

  <% SearchItem.where(classification_id: 16).each do |search_item|%>
      <tr>
        <td><%=search_item.name %></td>
        <td><%=search_item.classification.value %></td>

      </tr>
  <% end %>
</table>

<%=link_to 'Back', search_items_path %>