<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @search_item.name %>

</p>


<%= link_to 'Edit', edit_search_item_path(@search_item) %> |
<%= link_to 'Back', search_items_path(:status=> Classification.find_by_value("Good").id) %>
